<h1>And Battle!</h1>
<div>
  <p>
    <%=@game.player_1.name%> VS. <%=@game.player_2.name%>
  </p>
  <p>
    <%=@game.player_2.name%>: <%=@game.player_2.points%>HP
  </p>
</div>
<form method="post" action="/attack_received">
    <input type="submit" name="attack" value="Attack">
</form>