<h1>And Battle!</h1>

<%=@player_1%> VS. <%=@player_2%>

<%=@player_2%>: <%=@player_2_points%>HP

<form method="post" action="/pointsMethod">
    <input type="submit" name="attack" value="Attack">
</form>